body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eaf2ff;
    color: #1f2937;
    scroll-behavior: smooth;
}

nav {
    background-color: #2563eb;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

nav h2 {
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

nav a:hover {
    color: #cbd5ff;
}

section {
    padding: 100px 50px;
    text-align: center;
}

.hero {
    background: white;
}

h1, h2 {
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 30px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.form-area {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.form-area input,
.form-area textarea {
    padding: 10px;
    width: 220px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-area textarea {
    height: 45px; /* samakan tinggi */
    resize: none;
}

button {
    background-color: #2563eb;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1e40af;
}
footer {
    background-color: white;
    padding: 20px;
    color: #777;
}

/* Fade Animation */
.fade {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}